<div class="row with_bg_image">
  <div class="container">
    <div class="center">
      <h1>Are you ready to manage your Business</h1>

      <h2>
        We will take care of your financial data for you.
      </h2>

      <%= link_to " SIGN UP NOW!", signup_path, class: "btn btn-lg btn-warning"%>
    </div>
  </div>
</div>

<div class="row with_gray_bg">
  <div class="container">
    <div class="col-md-4 center">
      a
    </div>
    <div class="col-md-4 center">
      b
    </div>
    <div class="col-md-4 center">
      c
    </div>
  </div>
</div>

<%# <%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
