<footer class="footer">
  <small>
    Checkout our <%= link_to "Terms and Conditions", '#' %> page.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
  </nav>
</footer>
